 body {
    background-color: rgb(252, 254, 255);
 }

 h1 {
    color: rgb(0, 0, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
 }

 .foto-cv img {
   width: 120px;
   height: 120px;
   border-radius: 450%;
   text-align: center;
   display: block;
   margin: 0 auto;
}
 .contenedor-columnas {
    column-count: 2;
    column-gap: 90px;
    column-fill: auto;
    height: 125vh;
 }

.contenedor-columnas p, ol, ul{
   font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(13, 0, 31);
}

 h2 {
    color: rgba(0, 14, 95, 0.919);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .datos-personales img {
    width: 20px;
    height: 20px;
    border-radius: 0%;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
 }

 .datos-personales p, a {
    color: rgb(1, 0, 2);
    text-decoration: none;
    font-size: 14px;
    display:inline-flex;
 }

 h2 {
    border: solid 2px rgb(114, 157, 250);
    border-radius: 250vw;
    text-align: center;
    padding: 10px 0;

 }

 h3,
 h4,
 h5,
 h6 {
    color: rgb(96, 96, 126);
    font-size: 18px;
    border: solid 2px rgb(114, 157, 250);
    border-radius: 250vw;
    text-align: center;
    padding: 10px 0;
 }

 .barra-progreso1 {
    width: 50%;
    background-color: hsl(298, 37%, 81%);
    border-radius: 12px;
    overflow: hidden;
 }

 .progreso1 {
    width: 0px;
    height: 15px;
    background-color: #2ea9b9;
 }

 .barra-progreso2 {
    width: 50%;
    background-color: hsl(298, 37%, 81%);
    border-radius: 12px;
    overflow: hidden;
 }

 .progreso2 {
    width: 0px;
    height: 15px;
    background-color: #2ea9b9;
 }

 .barra-progreso3 {
    width: 50%;
    background-color: hsl(298, 37%, 81%);
    border-radius: 12px;
    overflow: hidden;
 }

 .progreso3 {
    width: 0px;
    height: 15px;
    background-color: #2ea9b9;
 }